    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark site-header">
      <a class="navbar-brand" href="/">{{shop}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/cart">
            {{! session is universally available via res.locals }}
              {{! Don't access res.locals properties via res.locals.property, simply access property }}
                {{#if session.cart.totalItemCount }}
                {{! If conditions in Handlebars with #if => /if }}
                <sup class="cart-indicator badge badge-pill badge-danger">{{session.cart.totalItemCount}}</sup>
                {{/if}}
                <i class="fas fa-shopping-cart"></i> Shopping Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/signup">Sign Up</a>
          </li>
        </ul>
      </div>
    </nav>